.topic-page {
    padding: 20px;
  }
  
  .articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sort-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .sort-controls label{
    display: flex;
    flex-direction: column;
  }