.heading {
    font-display:initial;
    color:#204164;
}

.topics-page {
    background-color: #f4f4f4;
    padding: 20px;
}

.topics-list {
    list-style-type: none;
    padding: 0;
}

.topics-list li {
    list-style-type: square;
    text-decoration: none;
    color:rgb(37, 37, 165);
}

.topics-list a:hover {
     text-decoration: underline;
}