.comment-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .comment-author {
    font-weight: bold;
  }

  .delete-button {
    background-color: #e09595 ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 4px;
    cursor: pointer;
    font-size: small;
  }
  
  .comment-card:hover .delete-button {
    display: inline-block;
  }

  .delete-button:disabled {
    background-color: #cccccc;
    cursor:not-allowed;
  }

  .delete-button:hover:enabled {
    background-color: #cc0000;
  }